confluent-kafka==2.8.0
Faker==35.2.0
greenlet==3.1.1
py4j==0.10.9.7
pyspark==3.5.4
python-dateutil==2.9.0.post0
setuptools==75.1.0
six==1.17.0
SQLAlchemy==2.0.37
typing_extensions==4.12.2
wheel==0.44.0
